html{
background:url('images/fdvert.jpg')no-repeat;
background-position: center center;
background-size: 100% 100%;
height: 100%;
}

h1{
font-size: 40px;
text-align: center;
color:white;
border-style: double;
width: 50%;
margin:auto;




}
#bob
{
    background: url('images/bob.jpg') no-repeat;
	background-position: left left;
	background-position: top top;
	position:absolute;
	top:0;
	left:0;
	width: 50%;
	height:16%;
	color:white;
	
}

#menu{

display:block;
color:white;
	border-radius: 5px;
	width: 120px;
    height:350px;
	background-color:rgba(140,255,140,0.9);
	
}

#promo
{
background-image: url('images/promo.png');
background-repeat: no-repeat;
background-position: 100% 0%;
background-size: 10%;
margin: -450px 10px 10px 150px;
	width: 70%;
	min-height: 300px;
	border-radius: 5px;
	background-color: rgba(180,255,180,0.9);
	color: rgba(0,128,128,1);
	padding:30px;
}

